body {
background: url(../picture/fons.jpg);  
background-size: 500px;
font-family: 'Comfortaa', cursive;
}

h1, h2, p {
color: white;
text-align: center;
font-family: 'Comfortaa', cursive;
text-shadow: 2px 1px 1px #000;
}

.navMenu /*меню*/
{
text-align: center;
display: block;
}

.navMenu img /*изображение в меню*/
{
width: 200px;
height: 200px;
margin-bottom: 10px;
}

.navMenu a, a /*стиль ссылок*/
{
color: #f6f4e6;
text-shadow: 1px 1px 2px rgb(0, 0, 0);
text-decoration: none;
font-size: 20px;
text-transform: uppercase; /*делаем все буквы заглавными*/
padding: 10;
}

.navMenu a:hover /*смена цвета при наведении*/
{
color: #e662f7;
}

.container_slider /*расположение слайдера*/
{
margin-left: 10px;
width: 500px;
height: 300px;
overflow: hidden;
position: relative; /*относительное позиционирование(скрываем картинки)*/
}

.photo_slider
{
position: absolute;
animation: round 16s infinite; /*задаем анимацию*/
opacity: 0;
width: 100%
}

@keyframes round  /*задаем слиль этапам анимации*/
{
25%{opacity:1}
40%{opacity:0}
}

/*скорость аниации для каждой картинки*/
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}

.td1 {
padding: 50;
}

.table1 {
background-color: #4f035a7c;
padding: 10px;
color: white;
font-size: 20px;
}

.picture {
width: 200px;
height: 200px;    
}

.pictures {
width: 300px;
height: 250px;  
padding: 10px;  
}

.menu_cafe {
text-align: center;
}

.menu {
text-align: center;
background-color: #4f035a7c;
}

span {
font-family: 'Comfortaa', cursive;
color: white;
font-size: 20px;
}

.but {
width: 350px;
height: 50px; 
background-color: #60458cff;
font-family: 'Comfortaa', cursive;
color: white;
font-size: 20px;
border-color: white;
cursor: url(../picture/icon.png), auto;
}

.but:hover {
background-color: #e662f7;
}

.promocode {
background: url(../picture/promocode.jpg);
background-size: 100%;
text-align: center;
}

input {
width: 350px;
height: 40px;   
border-radius: 15px;
}

.footer {
background-color: #00000065;
text-align: center;
}

.footer a {
color: #f6f4e6;
text-shadow: 1px 1px 2px rgb(0, 0, 0);
text-decoration: none;
font-size: 20px;
text-transform: uppercase; /*делаем все буквы заглавными*/
padding: 10;
}

.footer a:hover /*смена цвета при наведении*/
{
color: #e662f7;
}